---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import WordOfTheDay from '../components/WordOfTheDay';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
				<WordOfTheDay client:load/>
	</main>

	
</div>

