---
import background from '../assets/background.svg';
import WordOfTheDay from '../components/WordOfTheDay';
import NavBar from './NavBar';
import Footer from './Footer';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main class="flex justify-between flex-col mt-2 max-w-3xl width-full align-items gap-4 container p-4 mx-auto">
		<div class="flex flex-col gap-4">
			<NavBar client:load />		
			<WordOfTheDay client:load/>
		</div>
		<Footer client:load/>
	</main>
</div>

