<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DISCO Word of the day</title>

		<!-- Open Graph meta tags -->
		<meta property="og:title" content="DISCO Word of the Day" />
		<meta property="og:description" content="Find the DISCO Word of the Day on the 9th Floor Marketing Whiteboard." />
		<meta property="og:image" content="https://disco-word-of-the-day.netlify.app/og.jpg" />
		<meta property="og:url" content="https://disco-word-of-the-day.netlify.app/" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="DISCO" />

	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
